<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uysys.uylab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.pro_5.Pro_5Activity"></activity>
        <activity android:name=".ui.Routine.RoutineActivity" />
        <activity android:name=".ui.internship.InternshipActivity" />
        <activity android:name=".ui.pro3.pro3_Activity" />
        <activity android:name=".ui.backup1_3.backup1_3_Activity"></activity>
        <activity android:name=".ui.Backup1_1_.Backup1_1_Activity" />


        <activity android:name=".ui.pro2.pro2_Activity" />
        <activity android:name=".ui.offer2.offer2_Activity" />
        <activity android:name=".ui.offer1.offer1_Activity" />



        <activity android:name=".ui.classContentVideoShower.Class_Content_Video_Shower_Activity"></activity>

        <activity android:name=".ui.ourPartner.OurPartnerActivity">

        </activity>
        <activity android:name=".ui.open_page.Open_PageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Pro9.Pro9Activity"></activity>
        <activity android:name=".ui.classmodule.ClassModule" />

        <activity android:name=".ui.student_login.Student_LoginActivity"></activity>
        <activity android:name=".ui.iphone_17.About_Us_Activity" />

        <activity android:name="com.uysys.uylab.ui.profile.profile">

        </activity>
        <activity android:name=".ui.avail_offer_2.Avail_Offer2_Activity" />
        <activity android:name=".ui.classContentShower.Class_Content_Shower_Activity"></activity>
        <activity android:name=".ui.classContent.Class_Content_Activity"></activity>

    </application>

</manifest>